<layout name="layout" />

<script src="{$uri}Public/Scripts/PSI/BizConfig/MainForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/BizConfig/EditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script>
    Ext.onReady(function(){
        var app = Ext.create("PSI.App", {
            userName: "{$loginUserName}",
            productionName: "{$productionName}"
        });

        app.add(Ext.create("PSI.BizConfig.MainForm"));
        app.setAppHeader({
            title: "{$title}",
            iconCls: "PSI-fid2008"
            });
    });
</script>