<layout name="layout" />
<div class="mui-content-padded">
<h1>关于 PSI</h1>
<p>
PSI是一款开放源代码的SaaS进销存产品。
</p>
<p>
PSI具有如下特色：
<ul>
	<li><p>简单易用，颠覆传统进销存，是SaaS产品(SaaS的含义是：Software as a Service 软件即服务)</p></li>
	<li><p>功能齐备，让进销存管理更轻松</p></li>
	<li><p>灵活多变的解决方案</p></li>
	<li><p>既有免费的技术支持服务，又有付费的商业技术支持服务</p></li>
</ul>

<p>
PSI的开源协议是Apache License v2。
在该协议下，您可以私有化PSI的代码作为您自己的商业产品来使用和销售（包括创建您自有品牌）。
</p>
<p>
目前PSI手机端功能还在开发中。
</p>
<p>
PSI具体的功能，请用电脑访问：
</p>
<p>
http://psi.oschina.mopaas.com
</p>
<hr/>
<p>
<br />
QQ群：414474186
 <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=64808ce24f2a3186ccb1f37aad9ed591bcc4fb257d09749753aca98c6c73e400"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="开源进销存PSI" title="开源进销存PSI"></a>
<br />
</p>
<hr/>
<p>
微信公众号：opensource-psi
</p>
<hr/>
<p>
<a class="mui-btn" href="{$uri}/Mobile">返回首页</a>
<br />
<br />
</p>
</div>