.PSI-button-add {
    background-image:url(../Images/icons/add.png) !important;
}

.PSI-button-edit {
    background-image:url(../Images/icons/edit.png) !important;
}

.PSI-button-delete {
    background-image:url(../Images/icons/delete.png) !important;
}

.PSI-button-add-detail {
    background-image:url(../Images/icons/add_detail.png) !important;
}

.PSI-button-edit-detail {
    background-image:url(../Images/icons/edit_detail.png) !important;
}

.PSI-button-delete-detail {
    background-image:url(../Images/icons/delete_detail.png) !important;
}

.PSI-button-add-user {
    background-image:url(../Images/icons/user_add.png) !important;
}

.PSI-button-edit-user {
    background-image:url(../Images/icons/user_edit.png) !important;
}

.PSI-button-delete-user {
    background-image:url(../Images/icons/user_delete.png) !important;
}

.PSI-button-ok {
    background-image:url(../Images/icons/ok.png) !important;
}

.PSI-button-cancel {
    background-image:url(../Images/icons/cancel.png) !important;
}

.PSI-button-refresh {
    background-image:url(../Images/icons/refresh.png) !important;
}

.PSI-button-exit {
    background-image:url(../Images/icons/exit.png) !important;
}

.PSI-button-save {
    background-image:url(../Images/icons/save.png) !important;
}

.PSI-button-commit {
    background-image:url(../Images/icons/commit.png) !important;
}

.PSI-button-change-password {
    background-image:url(../Images/icons/change_password.png) !important;
}

.PSI-button-view {
    background-image:url(../Images/icons/view.png) !important;
}

.PSI-button-pdf {
    background-image:url(../Images/icons/pdf.png) !important;
}

.PSI-button-barcode {
    background-image:url(../Images/icons/barcode.png) !important;
}

.PSI-button-toolbox {
    background-image:url(../Images/icons/toolbox.png) !important;
}

.PSI-button-database {
    background-image:url(../Images/icons/database.png) !important;
}

.PSI-button-cancelconfirm {
    background-image:url(../Images/icons/cancel_confirm.png) !important;
}

.PSI-button-genbill {
    background-image:url(../Images/icons/gen_bill.png) !important;
}

.PSI-button-excelimport {
    background-image:url(../Images/icons/excel_import.png) !important;
}

.PSI-button-excelexport {
    background-image:url(../Images/icons/excel_export.png) !important;
}

.PSI-button-dataorg {
    background-image:url(../Images/icons/edit_dataorg.png) !important;
}

.PSI-fid-8993 {
    background-image:url(../Images/fid/fid-8993.png) !important;
}

.PSI-fid-8994 {
    background-image:url(../Images/fid/fid-8994.png) !important;
}

.PSI-fid-8995 {
    background-image:url(../Images/fid/fid-8995.png) !important;
}

.PSI-fid-8996 {
    background-image:url(../Images/fid/fid-8996.png) !important;
}

.PSI-fid-8997 {
    background-image:url(../Images/fid/fid-8997.png) !important;
}

.PSI-fid-8998 {
    background-image:url(../Images/fid/fid-8998.png) !important;
}

.PSI-fid-8999 {
    background-image:url(../Images/fid/fid-8999.png) !important;
}

.PSI-fid-9993 {
    background-image:url(../Images/fid/fid-9993.png) !important;
}

.PSI-fid-9994 {
    background-image:url(../Images/fid/fid-9994.png) !important;
}

.PSI-fid-9995 {
    background-image:url(../Images/fid/fid-9995.png) !important;
}

.PSI-fid-9996 {
    background-image:url(../Images/fid/fid-9996.png) !important;
}

.PSI-fid-9997 {
    background-image:url(../Images/fid/fid-9997.png) !important;
}

.PSI-fid-9999 {
    background-image:url(../Images/fid/fid-9999.png) !important;
}

.PSI-fid1001 {
    background-image:url(../Images/fid/fid1001.png) !important;
}

.PSI-fid1002 {
    background-image:url(../Images/fid/fid1002.png) !important;
}

.PSI-fid1003 {
    background-image:url(../Images/fid/fid1003.png) !important;
}

.PSI-fid1004 {
    background-image:url(../Images/fid/fid1004.png) !important;
}

.PSI-fid1007 {
    background-image:url(../Images/fid/fid1007.png) !important;
}

.PSI-fid2000 {
    background-image:url(../Images/fid/fid2000.png) !important;
}

.PSI-fid2001 {
    background-image:url(../Images/fid/fid2001.png) !important;
}

.PSI-fid2002 {
    background-image:url(../Images/fid/fid2002.png) !important;
}

.PSI-fid2003 {
    background-image:url(../Images/fid/fid2003.png) !important;
}

.PSI-fid2004 {
    background-image:url(../Images/fid/fid2004.png) !important;
}

.PSI-fid2005 {
    background-image:url(../Images/fid/fid2005.png) !important;
}

.PSI-fid2006 {
    background-image:url(../Images/fid/fid2006.png) !important;
}

.PSI-fid2007 {
    background-image:url(../Images/fid/fid2007.png) !important;
}

.PSI-fid2008 {
    background-image:url(../Images/fid/fid2008.png) !important;
}

.PSI-fid2009 {
    background-image:url(../Images/fid/fid2009.png) !important;
}

.PSI-fid2010 {
    background-image:url(../Images/fid/fid2010.png) !important;
}

.PSI-fid2012 {
    background-image:url(../Images/fid/fid2012.png) !important;
}

.PSI-fid2013 {
    background-image:url(../Images/fid/fid2013.png) !important;
}

.PSI-fid2014 {
    background-image:url(../Images/fid/fid2014.png) !important;
}

.PSI-fid2015 {
    background-image:url(../Images/fid/fid2015.png) !important;
}

.PSI-fid2016 {
    background-image:url(../Images/fid/fid2016.png) !important;
}

.PSI-fid2017 {
    background-image:url(../Images/fid/fid2017.png) !important;
}

.PSI-fid2018 {
    background-image:url(../Images/fid/fid2018.png) !important;
}

.PSI-fid2019 {
    background-image:url(../Images/fid/fid2019.png) !important;
}

.PSI-fid2020 {
    background-image:url(../Images/fid/fid2020.png) !important;
}

.PSI-fid2021 {
    background-image:url(../Images/fid/fid2021.png) !important;
}

.PSI-fid2022 {
    background-image:url(../Images/fid/fid2022.png) !important;
}

.PSI-fid2023 {
    background-image:url(../Images/fid/fid2023.png) !important;
}

.PSI-fid2024 {
    background-image:url(../Images/fid/fid2024.png) !important;
}

.PSI-fid2025 {
    background-image:url(../Images/fid/fid2025.png) !important;
}

.PSI-fid2026 {
    background-image:url(../Images/fid/fid2026.png) !important;
}

.PSI-fid2027 {
    background-image:url(../Images/fid/fid2027.png) !important;
}

.PSI-fid2028 {
    background-image:url(../Images/fid/fid2028.png) !important;
}

.PSI-fid2029 {
    background-image:url(../Images/fid/fid2029.png) !important;
}

.PSI-login {
    background-image:url(../Images/login.png) !important;
}

.PSI-portal-money {
    background-image:url(../Images/portal_money.png) !important;
}

.PSI-portal-inventory {
    background-image:url(../Images/portal_inventory.png) !important;
}

.PSI-portal-purchase {
    background-image:url(../Images/portal_purchase.png) !important;
}

.PSI-portal-sale {
    background-image:url(../Images/portal_sale.png) !important;
}

.PSI-help {
    background-image:url(../Images/icons/help.png) !important;
}